body{
	background: #000;
	margin: 0px;
	font-family: "Arial";
}
h1{
	color:#fff;
	text-align: center;
	margin: 0px;
	border:0px;
	background: rgb(143, 35, 155);
	padding: 20px 0;
	text-transform: uppercase;

}
.square{
	width:30%;
	background:#000;
	padding-bottom: 30%;
	margin:1.66%;
	float: left; 
	border-radius: 20px;
}
#container{
	margin: 30px auto;
	max-width: 600px;
}
#message{
display: inline-block;
width:20%;
font-weight: 50px;
}
#stripe{
background: #fff;
height: 30px;
text-align: center;
font-weight: }

button{
color:"#fff";
border:none;
background: none;
height: 100%;
text-transform: uppercase;
font-weight: 700px;
letter-spacing: 1px;
transition:all 0.5s;
outline: none;
}
.lvlbtn{
	background:rgb(143, 35, 155);
}
.square{
  transition: background 0.7s;}
 #resetButton{
 	background:rgb(143, 35, 155);
 } 


